/*
Detta är ett css till admin-sidan 
Skriv allt i bokstavsordning
Börjar med de selectorerna, sedan id och sist classes
*/

/*
------------------------------------------- Här börjar standardselektorerna ----------------------------------------
*/

a{
	text-decoration: none;	
}

body{
	font-family: "Gill Sans MT",Verdana,Tahoma;
	background-color: white;
}

button.field{

}

form{
	margin:10px;

}

h1{
	font-size: 2em;
}

h2{

}

input.button{
	margin-left: 646px;

}

input.field{
	width:750px;
}

input.field.title{
	font-size: 1.5em;
	padding:0.2em; 
}

label.field{
	margin-right: 10px;
	display: block;
}


nav{
	margin-left: 180px;
	margin-top: 70px;

}

nav a{
	display: inline;
}


p{
	font-family: "Gill Sans MT",Verdana,Tahoma;

}

textarea.field {
	width: 750px;
	height: 300px;
}

textarea.field.text{
	padding:0.5em;
}


/*
---------------------------------------------- Här börjar classes ----------------------------------------
*/

.active{
	background-color: #676767;
	display: inline-block;
}

.green{
	background-color: green;
}
.arrow-right{
	top:100%;
    left:100%;
	width: 0; 
	height: 0; 
	margin-left: -5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	
	border-left: 5px solid black;
}



.backgroundButton{
	background-color:#c4db8d;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-indent:0;
	border:1px solid #268a16;
	display:inline-block;
	color:#000000;
	height:32px;
	line-height:32px;
	width:32px;
}

.classname:hover {
	background-color:#5cb811;
}

.classname:active {
	position:relative;
	top:1px;
}


.content{
	height: 100%;
	margin-left: 250px;
	margin-top: 30px;
	margin-right: 250px;
}

.field{
	width:250px;
	display: block;
}

.leftNav{
	float: left;
	background-color: #dcdcdc;
	height: 650px;
	width: 201px;
	display: block;
}

.leftNav a:visited, a:hover, a:active{
	color:black;

} 

.leftNav li{
	list-style-type: none;
	color:black;
	margin:10px;
}

.statisticContent h3{
	margin: 0 0 0 20px;
	float:left;

}

.statisticContent p{
	font-size: 70px;
	float: right;
	margin:0 20px 0 0;
	border-right: 2px solid #aaaaaa;
}

.statisticContent td{
	width: 250px;
	height: 50px;

}

.topNav{
	background-color: black;
	color: white;
	height: 90px;
	width: 100%;
	padding:10px;

}

.topNav a{
	color:white;
	padding: 10px;

}


.wrapper{
	width: 100%;
	margin: auto;
}


/*
------------------------------------------------- Här börjar id ----------------------------------------
*/

#id{

}