/*
Detta är ett css till admin-sidan 
Skriv allt i bokstavsordning
Börjar med de selectorerna, sedan id och sist classes
*/

/*
------------------------------------------- Här börjar standardselektorerna ----------------------------------------
*/

a{
	text-decoration: none;	
}

body{
	font-family: "Gill Sans MT",Verdana,Tahoma;
	background-color: white;
}

h1{

}

form{
	margin:10px;
}

nav{
	margin-left: 180px;
	margin-top: 80px;

}


p{
	font-family: "Gill Sans MT",Verdana,Tahoma;

}


/*
---------------------------------------------- Här börjar classes ----------------------------------------
*/

.active{
	background-color: #676767;
	display: inline-block;
}
.arrow-right{
	top:100%;
    left:100%;
	width: 0; 
	height: 0; 
	margin-left: -5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	
	border-left: 5px solid black;
}

.content{
	width: 100%;
	height: 667px;
	margin-left: 250px;
	margin-top: 30px; 
}

.leftNav{
	float: left;
	background-color: #dcdcdc;
	height: 667px;
	width: 201px;
	display: block;
}

.leftNav a:visited, a:hover, a:active{
	color:black;

} 

.leftNav li{
	list-style-type: none;
	color:black;
	margin:10px;
}

.topNav{
	background-color: black;
	color: white;
	height: 101px;
	width: 100%;
	padding:10px;

}

.topNav a{
	color:white;
	padding: 10px;

}


.wrapper{
	width: 100%;
	margin: auto;
}


/*
------------------------------------------------- Här börjar id ----------------------------------------
*/

#id{

}