/*
Detta är ett css för användargränssnittet till webbsidan
Skiver allt i bokstavsordning
Börjar med de selectorerna, sedan id och sist classes
*/

/*
------------------------------------------- Här börjar standardselektorerna ----------------------------------------
*/

a{
	text-decoration: none;
	color: white;
	font-family: "Helvetica", "Gill Sans Mt";
}


body { 
	position:absolute;
	margin-top: -10px;
	margin-left: -10px;
	width: 100%;
	height: 100%;
	
}
nav{
	margin-left: 57%;
	margin-top: 70px;
}

nav .active{
	background: rgba(152, 152, 152, 0.5);
	display: inline;

}

p{

color:#000000;
font-family: "Helvetica", "Gill Sans Mt";
} 


/*
------------------------------------------- Här börjar classes ----------------------------------------
*/

.container {
	margin:0 auto;
	background-color:white;
	width: 960px;
	height: 5000px;
	top:100px;
	
}



.content{
	margin-top: 200px;
	width:960px; 
	float: left;
	margin-left: 200px;
	height: 300px;
	
	
}


.nav-container{
	background-color: black;
	width: 100%;
	
}
	.f-nav{z-index:9999; 
		position: fixed; 
		left: 0; 
		top:0; 
		width: 100%;
}
.nav{
	margin-top: -10px;
	background-color: black;
	height: 90px;
	width: 100%;
	padding:10px;
	font-color: white;
}


.topNav {
	margin-top:-20px;
	background-color: black;
	height: 90px;
	width: 100%;
	padding:10px;
	font-color: white;
	position: fixed;
	

}

/*
------------------------------------------- Här börjar id ----------------------------------------
*/


